@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}


div.categories {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.image-container {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.image-container .share {
  position: absolute;
  top: 75%;
  left: 75%;
  background-color: #555;
  width: 32px;
  height: 32px;
  padding: 8px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  text-align: center;
}

.image-container .share:hover {
  background-color: black;
}